vbridge_username: ""
vbridge_apikey: ""
activedirectory_username: ""
activedirectory_password: ""
azure_tenantid: ""
azure_sp_ansible_mfagroupwriteback_clientid: ""
azure_sp_ansible_mfagroupwriteback_clientsecret: ""